.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #f8f9fa;
}

header {
  background: linear-gradient(135deg, #ff7a18, #ffb347);
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.container {
  padding: 20px;
  margin-right: 280px;
}

select {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.menu-item {
  background: white;
  margin: 12px 0;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}

.menu-item:hover {
  transform: scale(1.02);
}

button {
  background: #28a745;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

.cart {
  position: fixed;
  right: 0;
  top: 0;
  width: 260px;
  height: 100vh;
  background: white;
  padding: 15px;
  border-left: 2px solid #eee;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.05);
}

.cart h2 {
  margin-top: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

li button {
  background: red;
  padding: 3px 8px;
}

li div {
  display: flex;
  align-items: center;
  gap: 5px;
}

li button {
  background: #007bff;
  padding: 3px 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}